
/* HEADER */
@media (min-width:0px){
  .header{
  height: 50px;
  background:#252323;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 3em;
  font-family: 'Montserrat', sans-serif;
  
}
.header .logo {
  text-transform: uppercase;
  margin:0;
  font-weight: 500;
  line-height: 50px;
  font-size:2rem;
}

.header .menu{
  line-height: 50px;
  width: 25%;
  display: flex;
  justify-content: space-between;
}
.header .menu a{
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.4s;
  text-decoration:none ;
}

.header .menu a:hover{
  color: #8a2ce2;
}

}